body { 
text-align: center;
 }

 #vocabOptions {
 	/*display: inline-block;*/
 	background:#3079BD;
 	position: relative;
 	bottom: 300px;
 	left: -35px;
 	height: 500px;
 	width: 600px;
 	z-index: 9;
 	border: 3px solid black;
 	border-radius: 10px;

 	/*visibility: hidden;*/
 }

}
 span {
 	font-size:55px;
 	background-color: white;
 }

 h2 {
 	font-size: 20px;
 	position: relative;
 	top: 10px;
 }

 ul {
 	text-align: left;
 }

 .body-container {
 	position : relative;
 	top: 58px;
 	display: inline-block;
 	border: 3px solid black;
 	border-radius: 20px;
 	height: 400px;
 	width: 500px;
 }

  .body-container-starwars {
 	position : relative;
 	color: yellow;
 	top: 58px;
 	display: inline-block;
 	border: 3px solid black;
 	height: 400px;
 	width: 500px;
 	border-radius: 20px;
 	background-image: url('../assets/star-wars-space-battle-death-star.jpg');
 }

 .typed-span{
 	background-color: green;
 }

 .typed-words {
 	height: 85px;
 	width: 400px;
 	background: olive;
 	display: inline-block;
 }

 .vocab-buttons {
 	position: relative;
	margin: 20px;
	top: 300px;
}

#keystrokes {
	display: inline-block;
	
}

#instructions {
	font-size: 15px;
}

#start-button {
	height: 50px;
	width: 125px;
	display: inline-block;
	position: relative;
	background-color: white;
	border: 3px solid black;
	top: 85px;
}

#highscore {
	visibility: hidden;
}

#type-stage.typed-words {
	position: relative;
	top: 70px;
	/*visibility: hidden;*/

}







